.reveal h2 { font-size: 1.50em;	}
.reveal h3 { font-size: 1.10em;	}

/* Futeri */

.reveal footer { margin-top: 0.5em; font-size: 80%; text-align: left; }

/* Centrirane tabele */
table.centered td, table.centered th { text-align:center; }

/* Kontakt ikonice */
.reveal img.contact { margin: 0px; border: 0px; width: 30px; }

/* Prvi slajd */
.first-slide h1 { font-size: 200%; }
.first-slide h2 { font-size: 130% }
.first-slide p { margin: 0px; font-size: 80%; }
.first-slide small { font-size: 80%; }


div.side-left {text-align: center; position: left: 0%; width: 65%;}
div.side-right h2, div.attention h2 {text-align: center; font-size:120%; font-style: bold;}
div.side-right, div.side-right-img {text-align: left; position: absolute; left: 70%; top: 15%; width: 30%;}

div.attention, div.side-right {
    border: 2px solid;
    border-radius: 25px;
    line-height: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 70%;
}

div.side-right, div.attention {background-color: #FFFF99;}
