<li class='item'>
  <header class='recipe-item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
    {{ range $taxonomy, $pages := .Site.Taxonomies }}
      {{- if not ( eq $taxonomy "authors" ) -}}
        {{- if ( index $.Params $taxonomy ) -}}
          {{- $.Scratch.Set "taxonomy" $taxonomy -}}
          {{- partial "entry/taxonomy-list" $ -}}
        {{- end -}}
      {{- end -}}
    {{ end }}

    {{ partial "entry/meta/last-mod" . }}

  </header>
</li>
