#content h3 {
    font-size: 1em;
}
#content h2 {
    font-size: 1.5em;
}
#content figure {
  text-align: center;
}

li>p {
  margin: 0;
}

ul li:last-of-type {
  margin-bottom: 0.5em;
}

.header-info {
  margin-top: 0em;
}
.recipe-item-header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* horizontal aligning of child divs */
  justify-content: space-between;
  /* vertical aligning */
  align-items: center;
}
.recipe-item-header div {
    margin-left: 2em;
}

.note {
  background:  #cdffcf;
  padding: 1em;
  margin: 10px 0;
}
