.reveal .footer {
    font-size: 20px;
}

.reveal pre code {
    max-height: 800px;
}

.reveal :not(pre)>code {
    white-space:nowrap;
    background:#fff;
    border:solid 1px #e1e4e5;
    font-size:75%;
    padding:0 5px;
    color:#E74C3C;
    overflow-x:auto;
}

.reveal .title {
    font-size: 250%;
}

.reveal h2 {
    font-size: 450%;
}

.reveal .large-title h3 {
    font-size: 350%;
}

.reveal .remove-title h3 {
    display: none; 
}

.reveal  h3 {
    font-size: 200%;
}

.reveal .subtitle {
    font-size: 150%;
}

.reveal .author {
    font-size: 130%;
}

.reveal .created {
    font-size: 15px;
}

.reveal .date {
    font-size: 100%;
}

.reveal .figure img {
    display: block;
    margin: 0 auto;
}


.reveal {
    font-family: "Open Sans", sans-serif;
}
