<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Generisanje programskog koda</title>
<meta name="author" content="Igor Dejanović"/>
<style type="text/css">
.underline { text-decoration: underline; }
</style>
<link rel="stylesheet" href="../../../s/reveal.js/css/reveal.css"/>

<link rel="stylesheet" href="../../../s/reveal.js/css/theme/simple.css" id="theme"/>

<link rel="stylesheet" href="../../../s/reveal-slides.css"/>

<link rel="stylesheet" href="../../../s/highlight-styles/docco.css"/>
<link rel="stylesheet" href=""/>

<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = '../../../s/reveal.js/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>
<base target="_blank">
</head>
<body>
<div class="reveal">
<div class="slides">
<section id="sec-title-slide">
<h1 class="title">Generisanje programskog koda</h1>
<h2 class="subtitle"></h2>
<h2 class="author">Prof. dr Igor Dejanović (<a href="mailto:igord at uns ac rs">igord at uns ac rs</a>)</h2>
<p class="date">Kreirano 2023-12-01 Fri 10:12, pritisni ESC za mapu, m za meni, Ctrl+Shift+F za pretragu</p>
</section>
<section>
<section id="slide-org90f5947">
<h2 id="org90f5947">Sadržaj</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#/slide-1">1. Uvod</a></li>
<li><a href="#/slide-2">2. Generisanje koda</a></li>
<li><a href="#/slide-3">3. Interpretiranje</a></li>
<li><a href="#/slide-4">4. Finalne napomene</a></li>
<li><a href="#/slide-5">5. Literatura</a></li>
</ul>
</div>
</section>
</section>
<section>
<section id="slide-1">
<h2 id="1"><span class="section-number-2">1.</span> Uvod</h2>
<div class="outline-text-2" id="text-1">
</div>
</section>
<section id="slide-1-1">
<h3 id="1-1"><span class="section-number-3">1.1.</span> Cilj</h3>
<ul>
<li>Imamo kreiran DSL i iskaze na njemu (mograme) i šta sada?</li>
<li>Krajnji cilj nam je dobijanje izvršivog softvera na bazi naših mograma.</li>

</ul>
</section>
<section id="slide-1-2">
<h3 id="1-2"><span class="section-number-3">1.2.</span> Semantika jezika</h3>
<p>
Pragmatični načini definisanja:
</p>
<ul>
<li>Transformacija iskaza jezika na jezik sa već definisanom semantikom
(kompajleri/generatori koda).
<ul>
<li>DSL → GPL → asemblerski kôd → mašinski kôd → interpretiranje (na procesoru).</li>
<li>DSL → GPL → VM code → interpretiranje (na virtuelnoj mašini).</li>

</ul></li>
<li>Interpretiranje.
<ul>
<li>DSL → interpretiranje</li>

</ul></li>
<li>Obično se za strukturalne aspekte sistema koristi generisanje koda dok se
interpreteri koriste kod aspekata ponašanja.</li>

</ul>
</section>
</section>
<section>
<section id="slide-2">
<h2 id="2"><span class="section-number-2">2.</span> Generisanje koda</h2>
<div class="outline-text-2" id="text-2">
</div>
</section>
<section id="slide-2-1">
<h3 id="2-1"><span class="section-number-3">2.1.</span> Generisanje koda (kompajliranje)</h3>

<div id="org10f0e19" class="figure">
<p><img src="./images/Arhitektura-kompajler.svg" alt="Arhitektura-kompajler.svg" class="org-svg" />
</p>
</div>
</section>
<section id="slide-2-2">
<h3 id="2-2"><span class="section-number-3">2.2.</span> Pristupi u generisanju koda</h3>
<ul>
<li>Naivan pristup - kombinovanje fragmenata koda - upotreba komandi print oblika.</li>
<li>API bazirano generisanje</li>
<li>Inline generisanje</li>
<li>Generisanje bazirano na šablonima i obrađivačima šablona - <i>Template Engines</i>.</li>

</ul>
</section>
<section id="slide-2-3">
<h3 id="2-3"><span class="section-number-3">2.3.</span> Print pristup</h3>
<ul>
<li>Generisan kôd se dobija print komandom uz korišćenje spajanja i interpolacije
stringova.</li>
<li>Koriste se standardni iskazi jezika domaćina za uslove i petlje.</li>
<li>Jednostavan pristup ali loše skalira. Kod složenijeg koda koji se generiše
čitkost je niskog nivoa.</li>

</ul>
</section>
<section id="slide-2-4">
<h3 id="2-4"><span class="section-number-3">2.4.</span> <code>print</code> pristup - primer</h3>
<div class="org-src-container">

<pre><code class="python" >class Class(object):
    def __init__(self, name, attributes):
        self.name = name
        self.attributes = attributes
        
classes = []
classes.append(Class("Student", 
                [("String", "ime"),
                 ("String", "prezime"),
                 ("String", "brojIndeksa")]))
classes.append(Class("Predmet", 
                [("String", "naziv"),
                 ("String", "nastavnik"),
                 ("int", "ESBP")]))
ime_paketa = "fakultet"
</code></pre>
</div>

</section>
<section>

<div class="org-src-container">

<pre><code class="python" >print "package %s;" % ime_paketa
print
for cls in classes:
    print "public class %s {" % cls.name
    print
    for attr in cls.attributes:
        print "    protected %s %s;" % (attr[0], attr[1])
    print
    for attr in cls.attributes:
        print "    public %s get%s(){" % \
                    (attr[0], attr[1].capitalize())
        print "        return %s;" % attr[1]
        print "    }"
        print
        print "    public void set%s(%s %s){" % \
                    (attr[1].capitalize(), attr[0], attr[1])
        print "        this.%s = %s;" % (attr[1], attr[1])
        print "    }"
        print 
    print "}"
    print
</code></pre>
</div>
</section>
<section id="slide-2-5">
<h3 id="2-5"><span class="section-number-3">2.5.</span> Print pristup - generisani kod</h3>
<div class="org-src-container">

<pre><code class="java" >package fakultet;

public class Student {
    protected String ime;
    protected String prezime;
    protected String brojIndeksa;

    public String getIme(){
        return ime;
    }

    public void setIme(String ime){
        this.ime = ime;
    }

    public String getPrezime(){
        return prezime;
    }

    public void setPrezime(String prezime){
        this.prezime = prezime;
    }

    public String getBrojindeksa(){
        return brojIndeksa;
    }

    public void setBrojindeksa(String brojIndeksa){
        this.brojIndeksa = brojIndeksa;
    }
}
</code></pre>
</div>
</section>
<section id="slide-2-6">
<h3 id="2-6"><span class="section-number-3">2.6.</span> API bazirano generisanje koda</h3>

<div id="org2f513f6" class="figure">
<p><img src="./images/gen_API.svg" alt="gen_API.svg" class="org-svg" />
</p>
</div>
</section>
<section id="slide-2-7">
<h3 id="2-7"><span class="section-number-3">2.7.</span> Obrađivači šablona (<i>Template Engines</i>)</h3>
<ul>
<li>Za opis generisanog programskog kôda koristi se DSL za zadavanje šablona.</li>
<li>Fiksni delovi generisanog koda su definisani bez izmena.</li>
<li>Varijabilni delovi su definisani upotrebom posebnih iskaza šablon DSL-a i biće
interpretirani od strane obrađivača šablona u vreme generisanja koda.</li>

</ul>
</section>
<section id="slide-2-8">
<h3 id="2-8"><span class="section-number-3">2.8.</span> Arhitektura</h3>

<div id="orgd974598" class="figure">
<p><img src="./images/gen_sabloni.svg" alt="gen_sabloni.svg" class="org-svg" />
</p>
</div>
</section>
<section id="slide-2-9">
<h3 id="2-9"><span class="section-number-3">2.9.</span> Primer - Jinja/Django</h3>
<div class="org-src-container">

<pre><code class="jinja2" >{% for component in components %}
  &lt;component class="struct"&gt;
      &lt;type class="char"&gt;{{component.type_name}}&lt;/type&gt;
      &lt;name class="char"&gt;{{component.fqn}}&lt;/name&gt;

      &lt;parameters class="struct"&gt;
          {% for parameter in component.all_properties %}
          &lt;parameter class="struct"&gt;
                  {% if parameter.child_property -%}
                  &lt;parent class="char"&gt;parameter.owner.name&lt;/parent&gt;
                  {% endif %}
              &lt;name class="char"&gt;{{parameter.name}}&lt;/name&gt;
              &lt;value class="double"&gt;{{parameter}}&lt;/value&gt;
          &lt;/parameter&gt;
          {% endfor %}
      &lt;/parameters&gt;

      &lt;terminals class="struct"&gt;
          {% for terminal in component %}
          &lt;terminal class="struct"&gt;
              &lt;name class="char"&gt;{{terminal.name}}&lt;/name&gt;                    
              &lt;type class="char"&gt;{{terminal.type}}&lt;/type&gt;             
              &lt;node class="char"&gt;{{terminal.node}}&lt;/node&gt;
          &lt;/terminal&gt;
          {% endfor %}
      &lt;/terminals&gt;
  &lt;/component&gt;
{% endfor %}
</code></pre>
</div>
</section>
<section id="slide-2-10">
<h3 id="2-10"><span class="section-number-3">2.10.</span> Primer - JSP</h3>
<div class="org-src-container">

<pre><code class="jsp" >&lt;html&gt;
&lt;head&gt;&lt;title&gt;First JSP&lt;/title&gt;&lt;/head&gt;
&lt;body&gt;
  &lt;%
    double num = Math.random();
    if (num &gt; 0.95) {
  %&gt;
      &lt;h2&gt;You'll have a luck day!&lt;/h2&gt;&lt;p&gt;(&lt;%= num %&gt;)&lt;/p&gt;
  &lt;%
    } else {
  %&gt;
      &lt;h2&gt;Well, life goes on ... &lt;/h2&gt;&lt;p&gt;(&lt;%= num %&gt;)&lt;/p&gt;
  &lt;%
    }
  %&gt;
  &lt;a href="&lt;%= request.getRequestURI() %&gt;"&gt;&lt;h3&gt;Try Again&lt;/h3&gt;&lt;/a&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>

<ul class="footer" style="clear: both;">
<li><a href="http://www.ntu.edu.sg/home/ehchua/programming/java/JSPByExample.html">http://www.ntu.edu.sg/home/ehchua/programming/java/JSPByExample.html</a></li>

</ul>
</section>
<section id="slide-2-11">
<h3 id="2-11"><span class="section-number-3">2.11.</span> Primer - PHP</h3>
<div class="org-src-container">

<pre><code class="php" >&lt;?php
    $Fname = $_POST["Fname"];
    $Lname = $_POST["Lname"];
?&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Personal INFO&lt;/title&gt;
&lt;/head&gt;
    &lt;body&gt;
        &lt;form method="post" action="&lt;?php echo $PHP_SELF;?&gt;"&gt;
            First Name:&lt;input type="text" size="12" maxlength="12" name="Fname"&gt;&lt;br /&gt;
            Last Name:&lt;input type="text" size="12" maxlength="36" name="Lname"&gt;&lt;br /&gt;
        &lt;/form&gt;
        &lt;?
        echo "Hello, ".$Fname." ".$Lname.".&lt;br /&gt;";
        ?&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>

<ul class="footer" style="clear: both;">
<li><a href="http://www.ntchosting.com/php/php-in-html.html">http://www.ntchosting.com/php/php-in-html.html</a></li>

</ul>
</section>
<section id="slide-2-12">
<h3 id="2-12"><span class="section-number-3">2.12.</span> Primer - Ruby ERB</h3>
<div class="org-src-container">

<pre><code class="erb" >&lt;h1&gt;Listing Books&lt;/h1&gt;
 
&lt;table&gt;
  &lt;tr&gt;
    &lt;th&gt;Title&lt;/th&gt;
    &lt;th&gt;Summary&lt;/th&gt;
    &lt;th&gt;&lt;/th&gt;
    &lt;th&gt;&lt;/th&gt;
    &lt;th&gt;&lt;/th&gt;
  &lt;/tr&gt;
 
&lt;% @books.each do |book| %&gt;
  &lt;tr&gt;
    &lt;td&gt;&lt;%= book.title %&gt;&lt;/td&gt;
    &lt;td&gt;&lt;%= book.content %&gt;&lt;/td&gt;
    &lt;td&gt;&lt;%= link_to "Show", book %&gt;&lt;/td&gt;
    &lt;td&gt;&lt;%= link_to "Edit", edit_book_path(book) %&gt;&lt;/td&gt;
    &lt;td&gt;&lt;%= link_to "Remove", book, method: :delete, data: { confirm: "Are you sure?" } %&gt;&lt;/td&gt;
  &lt;/tr&gt;
&lt;% end %&gt;
&lt;/table&gt;
 
&lt;br /&gt;
 
&lt;%= link_to "New book", new_book_path %&gt;
</code></pre>
</div>

<ul class="footer" style="clear: both;">
<li><a href="http://guides.rubyonrails.org/layouts_and_rendering.html">http://guides.rubyonrails.org/layouts_and_rendering.html</a></li>

</ul>
</section>
<section id="slide-2-13">
<h3 id="2-13"><span class="section-number-3">2.13.</span> Primer - Xtend</h3>
<div class="org-src-container">

<pre><code class="xtend" >def compile(Entity e) ''' 
	«IF e.eContainer.fullyQualifiedName != null»
		package «e.eContainer.fullyQualifiedName»;
	«ENDIF»
	
	public class «e.name» «IF e.superType != null
			»extends «e.superType.fullyQualifiedName» «ENDIF»{
		«FOR f:e.features»
			«f.compile»
		«ENDFOR»
		}
	'''

def compile(Feature f) '''
	private «f.type.fullyQualifiedName» «f.name»;
	
	public «f.type.fullyQualifiedName» get«f.name.toFirstUpper»() {
		return «f.name»;
	}
	
	public void set«f.name.toFirstUpper»(«f.type.fullyQualifiedName» «f.name») {
		this.«f.name» = «f.name»;
	}
	'''
}
</code></pre>
</div>

<ul class="footer" style="clear: both;">
<li><a href="http://www.eclipse.org/Xtext/documentation.html">http://www.eclipse.org/Xtext/documentation.html</a></li>

</ul>
</section>
<section id="slide-2-14">
<h3 id="2-14"><span class="section-number-3">2.14.</span> Primer - Stratego</h3>

<div id="orgfc63aa5" class="figure">
<p><img src="./images/stratego.png" alt="stratego.png" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li><a href="http://metaborg.org/wiki/spoofax/tour">http://metaborg.org/wiki/spoofax/tour</a></li>

</ul>
</section>
<section id="slide-2-15">
<h3 id="2-15"><span class="section-number-3">2.15.</span> In-line generisanje koda</h3>
<ul>
<li>Ciljni jezik poseduje iskaze koji se u vreme kompajliranja zamenjuju drugim
konstrukcijama istog jezika.</li>
<li>Ova zamena se obavlja najčešće posebnim alatom koji se naziva predprocesor.</li>
<li>Predprocesiranje može da se obavlja u više koraka, odnosno možemo imati više
predprocesora koji će vršiti ekspanziju koda pre faze kompajliranja.</li>

</ul>
</section>
<section id="slide-2-16">
<h3 id="2-16"><span class="section-number-3">2.16.</span> Primer - C predprocesor</h3>
<div class="org-src-container">

<pre><code class="c" >#include &lt;stdio.h&gt;

#define SLICES 8
#define ADD(x) ( (x) / SLICES )

int main() 
{
    int a = 0, b = 10, c = 6;

    a = ADD(b + c);

    printf("%d\n", a);

    return 0;
}
</code></pre>
</div>
</section>
<section id="slide-2-17">
<h3 id="2-17"><span class="section-number-3">2.17.</span> U svim slučajevima&#x2026;</h3>
<ul>
<li>&#x2026;imamo fiksni, nepromenjivi deo programskog koda i varijabilni deo.</li>
<li>Šta će u našem slučaju biti izvor za koji definiše varijabilni deo?</li>

</ul>
</section>
<section id="slide-2-18">
<h3 id="2-18"><span class="section-number-3">2.18.</span> Šta i kako generisati?</h3>
<ul>
<li>Truditi se da generisan kod bude čitak. Očuvati nazubljivanje, generisati
komentare, u komentarima jasno napisati da je generisani kod u pitanju i na
osnovu čega je generisan.</li>
<li>Ukoliko DSL dobro pokriva ciljni domen moguće je generisati 100% programskog
koda. Ovo je obično slučaj kod zrelih DSL-ova.</li>
<li>Često u toku razvoja, i zbog praktičnih razloga, DSL ne pokriva domen u
potpunosti. U tom slučaju generiše se deo programskog koda, dok se deo piše
ručno na jeziku ciljne platforme.</li>
<li>U ovom slučaju moramo rešiti problem integracije ručno
pisanog i generisanog koda.</li>

</ul>
</section>
<section id="slide-2-19">
<h3 id="2-19"><span class="section-number-3">2.19.</span> Ručne izmene u generisanom kodu</h3>
<ul>
<li>Ponovno generisanje celih fajlova vs. očuvanje ručnih izmena.</li>
<li>Kod očuvanja ručnih izmena u generisanom kodu koriste se tzv. zaštićene
sekcije (<i>protected regions</i>). Najčešće posebne oznake unutar komentara.</li>
<li>Zaštićene regije komplikuju implementaciju generatora i kontrolu verzija -
izbegavati.</li>
<li>Kôd koji se uvek generiše potpuno ne čuvati u sistemu za kontrolu verzija bez
potrebe - uvek ga možete izgenerisati! Isti je razlog zbog koga ne čuvate Java
<code>.class</code> fajlove.</li>

</ul>
</section>
<section id="slide-2-20">
<h3 id="2-20"><span class="section-number-3">2.20.</span> Generisani kôd i kontrola verzija</h3>
<ul>
<li>Kod koji se uvek generiše potpuno ne čuvati u sistemu za kontrolu verzija bez
potrebe - uvek ga možete izgenerisati!</li>
<li>Razlog je isti zbog kod ne čuvate npr. Java <code>.class</code> fajlove.</li>
<li>&#x2026; osim u slučaju kada VCS koristite za integraciju ručno pisanog koda.</li>

</ul>
</section>
<section id="slide-2-21">
<h3 id="2-21"><span class="section-number-3">2.21.</span> Integracija generisanog i ručno pisanog koda</h3>
<ul>
<li>Najčešće se koriste mogućnosti ciljnog programskog jezika.</li>
<li>Na primer, ukoliko je u pitanju OO jezik možemo koristiti nasleđivanje ili
ukoliko jezik podržava parcijalne klase (npr. .NET).</li>

</ul>
</section>
<section id="slide-2-22">
<h3 id="2-22"><span class="section-number-3">2.22.</span> Obrasci za integraciju kod OO jezika - 1</h3>
<p>
Generisani kôd poziva ručno pisani.
</p>


<div id="orgbe2ede8" class="figure">
<p><img src="./images/integracija_1.svg" alt="integracija_1.svg" class="org-svg" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li>M. Völter and T. Stahl, <i>Model-Driven Software Development : Technology,
Engineering, Management</i>. John Wiley &amp; Sons, June 2006</li>

</ul>
</section>
<section id="slide-2-23">
<h3 id="2-23"><span class="section-number-3">2.23.</span> Obrasci za integraciju kod OO jezika - 2</h3>
<p>
Ručno pisani kôd poziva generisani.
</p>


<div id="orge292dad" class="figure">
<p><img src="./images/integracija_2.svg" alt="integracija_2.svg" class="org-svg" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li>M. Völter and T. Stahl, <i>Model-Driven Software Development : Technology,
Engineering, Management</i>. John Wiley &amp; Sons, June 2006</li>

</ul>
</section>
<section id="slide-2-24">
<h3 id="2-24"><span class="section-number-3">2.24.</span> Obrasci za integraciju kod OO jezika - 3</h3>
<p>
Generisani kôd nasleđuje apstraktne klase ili implementira interfejse (ručno
pisane). Ručno pisani kod poziva generisani preko interfejsa ili apstraktnih
klasa.
</p>


<div id="orgbaef97f" class="figure">
<p><img src="./images/integracija_3.svg" alt="integracija_3.svg" class="org-svg" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li>M. Völter and T. Stahl, <i>Model-Driven Software Development : Technology,
Engineering, Management</i>. John Wiley &amp; Sons, June 2006</li>

</ul>
</section>
<section id="slide-2-25">
<h3 id="2-25"><span class="section-number-3">2.25.</span> Obrasci za integraciju kod OO jezika - 4</h3>
<p>
Ručno pisani kôd nasleđuje i redefiniše generisani.
</p>


<div id="orgdbc8685" class="figure">
<p><img src="./images/integracija_4.svg" alt="integracija_4.svg" class="org-svg" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li>M. Völter and T. Stahl, <i>Model-Driven Software Development : Technology,
Engineering, Management</i>. John Wiley &amp; Sons, June 2006</li>

</ul>
</section>
<section id="slide-2-26">
<h3 id="2-26"><span class="section-number-3">2.26.</span> Obrasci za integraciju kod OO jezika - 5</h3>
<p>
Generisani kôd nasleđuje i poziva ručno pisani. Na primer, implementacija
apstraktnih metoda u kojoj se koriste pozivi konkretnih metoda.
</p>


<div id="orgb0f0a3a" class="figure">
<p><img src="./images/integracija_5.svg" alt="integracija_5.svg" class="org-svg" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li>M. Völter and T. Stahl, <i>Model-Driven Software Development : Technology,
Engineering, Management</i>. John Wiley &amp; Sons, June 2006</li>

</ul>
</section>
<section id="slide-2-27">
<h3 id="2-27"><span class="section-number-3">2.27.</span> Obrasci za integraciju kod OO jezika - 6</h3>
<p>
Generisani kôd nasleđuje ručno pisani i definiše apstraktne metode. Ručno pisani
kôd poziva konkretne metode kao i apstraktne metode koje definiše generisani
kod. Implementacija <i>Template Method</i> dizajn obrasca.
</p>


<div id="org8d68103" class="figure">
<p><img src="./images/integracija_6.svg" alt="integracija_6.svg" class="org-svg" />
</p>
</div>

<ul class="footer" style="clear: both;">
<li>M. Völter and T. Stahl, <i>Model-Driven Software Development : Technology,
Engineering, Management</i>. John Wiley &amp; Sons, June 2006</li>

</ul>
</section>
<section id="slide-2-28">
<h3 id="2-28"><span class="section-number-3">2.28.</span> Integracija upotrebom VCS</h3>

<div id="org1e4d6c9" class="figure">
<p><img src="./images/vcs-integracija.png" alt="vcs-integracija.png" />
</p>
</div>
</section>
</section>
<section>
<section id="slide-3">
<h2 id="3"><span class="section-number-2">3.</span> Interpretiranje</h2>
<div class="outline-text-2" id="text-3">
</div>
</section>
<section id="slide-3-1">
<h3 id="3-1"><span class="section-number-3">3.1.</span> Interpretiranje</h3>
<ul>
<li>Interpreter je softver koji čita mogram i dinamički ga evaluira u vreme
izvršavanja (<i>runtime</i>).</li>
<li>Nema generisanja koda.</li>
<li>Brži <i>round-trip</i> u razvoju ali sporije izvršavanje.</li>
<li>Često teže debagovanje ukoliko ne postoje specijalizovani debageri.</li>

</ul>
</section>
<section id="slide-3-2">
<h3 id="3-2"><span class="section-number-3">3.2.</span> Arhitektura pristupa</h3>

<div id="org1da2e71" class="figure">
<p><img src="./images/Arhitektura-interpreter.svg" alt="Arhitektura-interpreter.svg" class="org-svg" />
</p>
</div>
</section>
<section id="slide-3-3">
<h3 id="3-3"><span class="section-number-3">3.3.</span> Primer - Arpeggio i textX</h3>
<ul>
<li>Arpeggio textX su parseri koji vrši interpretiranje gramatike jezika.</li>
<li>Parser se ne generiše već se arpeggio konfiguriše gramatikom jezika i posle
toga je spreman da parsira proizvoljne iskaze na definisanom jeziku.</li>

</ul>
</section>
</section>
<section>
<section id="slide-4">
<h2 id="4"><span class="section-number-2">4.</span> Finalne napomene</h2>
<div class="outline-text-2" id="text-4">
</div>
</section>
<section id="slide-4-1">
<h3 id="4-1"><span class="section-number-3">4.1.</span> Vreme analize modela - generatori vs. interpreteri</h3>
<ul>
<li>Analiza modela se kod generatora obavlja u vreme izgradnje dok se kod
interpretera obavlja u vreme izvršavanja.</li>
<li>Postoje interpreteri koji će pre startovanja mograma obaviti analizu u cilju
otkrivanja čestih grešaka.</li>
<li>Određeni interpreteri vrše validaciju mograma i zatim ga transformišu u
efikasan međuformat (npr. <i>bytecode</i> za Java virtualnu mašinu).</li>
<li>Takođe, određeni generatori vrše generisanje koda u vreme izvršavanja (npr.
<i>JIT kompajleri</i>).</li>

</ul>
</section>
<section id="slide-4-2">
<h3 id="4-2"><span class="section-number-3">4.2.</span> Generisanje ili interpretacija?</h3>
<ul>
<li>Na ovo pitanje ne postoji opšti odgovor.</li>
<li>Zavisi od jezika, domena, zahteva u razvoju kao i zahtevanih nefunkcioanlnih
osobina.</li>
<li>Često se u praksi ova dva pristupa kombinuju.</li>

</ul>
</section>
</section>
<section>
<section id="slide-5">
<h2 id="5"><span class="section-number-2">5.</span> Literatura</h2>
<ul>
<li>Igor Dejanović, <i>Jezici specifični za domen</i>, Fakultet tehničkih nauka, Novi
Sad, 2021. (dostupno u skriptarnici FTN-a)</li>

</ul>
</section>
</section>
</div>
</div>
<script src="../../../s/reveal.js/js/reveal.js"></script>
<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({

controls: true,
progress: true,
history: false,
center: true,
slideNumber: 'c/t',
rollingLinks: false,
keyboard: true,
mouseWheel: false,
fragmentInURL: true,
hashOneBasedIndex: false,
pdfSeparateFragments: true,
overview: true,
width: 1400,
height: 1000,
minScale: 0.30,
maxScale: 4.00,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: Reveal.getQueryHash().transition || 'slide', // see README of reveal.js for options
transitionSpeed: 'default',

// Optional libraries used to extend reveal.js
dependencies: [
{src: '../../../s/reveal.js/../reveal-plugins/menu/menu.js'},
{src: '../../../s/reveal.js/../reveal-plugins/chalkboard/chalkboard.js'},
 { src: '../../../s/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
 { src: '../../../s/reveal.js/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }]

,keyboard: {67: function() { RevealChalkboard.toggleNotesCanvas() },	66: function() { RevealChalkboard.toggleChalkboard() },	46: function() { RevealChalkboard.clear() },	8: function() { RevealChalkboard.reset() },	68: function() { RevealChalkboard.download() },	},});
</script>
</body>
</html>
