.reveal .footer {
    font-size: 20px;
}

.reveal pre code {
    max-height: 800px;
}

.reveal :not(pre)>code {
    white-space:nowrap;
    background:#fff;
    border:solid 1px #e1e4e5;
    font-size:75%;
    padding:0 5px;
    color:#E74C3C;
    overflow-x:auto;
}

.reveal .date {
    font-size: 15px;
}

.reveal .author {
    font-size: 40px;
}

.reveal .figure img {
    display: block;
    margin: 0 auto;
}


.reveal {
    font-family: "Open Sans", sans-serif;
}
