.reveal .footer {
    font-size: 20px;
}

.reveal pre code {
    max-height: 800px;
}

.reveal .date {
    font-size: 15px;
}

.reveal .author {
    font-size: 40px;
}

.reveal {
    font-family: "Open Sans", sans-serif;
}
